services:
  telegram-bot:
    build: .
    container_name: telegram-bot
    environment:
      - TG_BOT_TOKEN=${TG_BOT_TOKEN}
      - AUTHORIZED_CHAT_ID=${AUTHORIZED_CHAT_ID}
      - BASE_URL=${BASE_URL:-http://192.168.0.25:8080}
      - BASE_DIR=${BASE_DIR:-/downloads}
      - TRANSMISSION_HOST=${TRANSMISSION_HOST}
      - TRANSMISSION_PORT=${TRANSMISSION_PORT}
    volumes:
      - /mnt/sda1/transmission/downloads:/downloads:ro
      #- ./downloads:/downloads:ro
    network_mode: bridge
    restart: unless-stopped
